/* CSS File Definitions */

.cssbutton {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
.cssbutton:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
}
.cssbutton:active {
	position:relative;
	top:1px;
}


.showid{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

video {
  display: block;
  /*transform: scaleX(-1);*/
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  pointer-events: none; /* Prevents canvas from intercepting clicks */
  /*transform: scaleX(-1);*/
}

.ui {
  margin-top: 10px;
  width: 640px;
  display: flex;
  justify-content: space-between;
}

  .ui .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 0 15px;
    flex-grow: 1;
  }

  .ui .controls p {
    margin-top: 0;
  }

  /*.ui #color {
    box-sizing: border-box;
    background-color: red;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    margin-left: 10px;
  }*/

.controls div {
  display: flex;
}

.controls div label {
  width: 25%;
}

.controls div input {
  width: 75%;
}
